<body>

<!-- 成功メッセージの表示-->
<div class="index-notice">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>


<p>
  <span class="show_title">Title</span>
  :
  <%= @book.title %>
</p>

<p>
  <span class="show_title">Body</span>
  :
  <%= @book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>



</body>
